.highcharts-button-box {
  fill: #505050;
}

.highcharts-menu {
  background: #505050!important;
  box-shadow: none!important;

  &-item {
    color: #ffffff!important;
  }

  &-item:hover {
    background: #404040!important;
  }
}
