.table-container {
  overflow: auto;

  /* Стилизация полосы прокрутки */
/* Ширина и цвет полосы прокрутки */
&::-webkit-scrollbar {
  width: 5px;
}

/* Фоновая заливка полосы прокрутки */
&::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Цвет и форма дорожки ползунка */
&::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

/* Изменение внешнего вида ползунка при наведении */
&::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


}

.table {
  overflow: auto;

  border: 1px solid #ffffff;
  width: 100%;

  font-size: 12px;

  border-collapse: collapse;
  
  & td, & th {
    border: 1px solid #d7cfcf;
    padding: 5px;
  }
}

td:nth-child(1) {
  text-align: left;
}
