#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.container {
  width: 100%;
  height: calc(100vh - 4rem);

  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  /* display: flex; */
  /* overflow: hidden; */
  /* justify-content: end; */
  /* align-items: start; */
}
