.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #272626;

  width: 300px;

  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;

  z-index: 10;

  &__button {
    width: 100%;
    margin-top: 10px;
  }
}